.register-top {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-top .register-box {
  padding: 2rem;
  width: 30%;
  border-radius: 20px;
  background-color: rgba(197, 197, 197, 0.144);
}

/* 平板RWD */
@media screen and (max-width: 1250px) {
  .register-top .register-box {
    padding: 1.5rem;
    width: 50%;
  }
}

/* 手機RWD */
@media screen and (max-width: 500px) {
  .register-top .register-box {
    padding: 1.5rem;
    width: 90%;
  }
}
